<%= render 'shared/content_title', title: "#{@user.username}'s Cars" %>

<div class='well'>
  <dl class='dl-horizontal'>
  <% @user.cars.each do |car| %>
    <ul>
      <%= link_to "#{car.year} #{car.make} #{car.model}", car_path(car) %>
    </ul>
  <% end %>
</div>
