<ul class="nav">
  <li>
    <%= link_to "Car Log", root_path, :class => 'brand' %>
  </li>
</ul>
  <div class='nav_item'>
    <%= link_to 'Register', '', class: 'btn btn-success btn-small' %>
  </div>
   <div class='nav_item'>
    <%= link_to 'Log in', login_path, class: 'btn btn-success btn-small' %>
  </div>
